<% layout("/layout/boilerplate.ejs") -%>
<style>
  body {
    background-color: #f4f4f4;
  }

  .confirm {
    text-align: center;
    margin-top: 2rem;
  }

  .confirm h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .order-item {
    background-color: #fff;
    width: 98%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .order-item img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 20px;
  }

  .order-name {
    margin: 0;
    font-size: 1.5rem;
    color: #555;
    flex: 1;
  }

  .order-price {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .checkout {
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    width: 70%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }

  .checkout label.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
    display: block;
    font-weight: bold;
  }

  .details {
    text-align: left;
    margin-bottom: 2rem;
  }

  .details span {
    font-size: 1.5rem;
    color: #555;
    display: block;
    margin-bottom: 10px;
    text-align: right;
  }

  .checkout--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .price {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }

  .checkout-btn {
    background: linear-gradient(180deg, #4480ff 0%, #115dfc 50%, #0550ed 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 40px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }

  .checkout-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    .checkout-btn {
      padding: 15px 20px;
      font-size: 1.2rem;
    }
  }
</style>

<div class="confirm">
  <h1>Order Confirmed</h1>
  <div class="orders">
    <% let itemCount = {}; %> <% for (let i = userOrders.length - 1; i >= 0;
    i--) { %> <% let order = userOrders[i]; %> <% if (!itemCount[order.name]) {
    %> <% itemCount[order.name] = true; %>
    <div class="order-item">
      <img src="<%= order.image %>" alt="" />
      <div class="order-info">
        <span class="order-name"
          ><%= order.name %> <% let count = 0; %> <% for (let j = 0; j <
          userOrders.length; j++) { %> <% if (userOrders[j].name === order.name)
          { count++; } %> <% } %> <% if (count > 1) { %>(x<%= count %>)<% }
          %></span
        >
      </div>
      <span class="order-price">&#8377;<%= order.price %></span>
    </div>
    <% } %> <% } %>
  </div>

  <div class="checkout">
    <label class="title">Checkout Details</label>
    <div class="details">
      <span>Your cart subtotal:</span>
      <span
        >&#8377;<%= userOrders.reduce((acc, cur) => acc + cur.price, 0) %></span
      >
      <span>Shipping fees:</span>
      <span>&#8377;50</span>
      <span>Total items:</span>
      <span><%= userOrders.length %></span>
    </div>
    <div class="checkout--footer">
      <label class="price"
        >Total: &#8377;<%= userOrders.reduce((acc, cur) => acc + cur.price, 0) +
        50 %></label
      >
      <a href="/checkout"
        ><button class="checkout-btn">Proceed to Checkout</button></a
      >
    </div>
  </div>
</div>
